Package             Version   Location                                                          Installer
------------------- --------- ----------------------------------------------------------------- ---------
about-time          3.1.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
addict              2.4.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
alive-progress      2.0.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
anyio               3.3.2     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
argon2-cffi         21.1.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
attrs               21.2.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
Babel               2.9.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
backcall            0.2.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
bleach              4.1.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
certifi             2021.5.30 /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
cffi                1.14.6    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
charset-normalizer  2.0.6     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
cycler              0.10.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
debugpy             1.4.3     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
decorator           5.1.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
defusedxml          0.7.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
deprecation         2.1.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
entrypoints         0.3       /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
grapheme            0.6.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
idna                3.2       /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
ipykernel           6.4.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
ipython             7.28.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
ipython-genutils    0.2.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
ipywidgets          7.6.5     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
jedi                0.18.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
Jinja2              3.0.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
joblib              1.0.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
json5               0.9.6     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
jsonschema          4.0.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
jupyter-client      7.0.5     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
jupyter-core        4.8.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
jupyter-packaging   0.10.6    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
jupyter-server      1.11.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
jupyterlab          3.1.14    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
jupyterlab-pygments 0.1.2     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
jupyterlab-server   2.8.2     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
jupyterlab-widgets  1.0.2     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
kiwisolver          1.3.2     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
MarkupSafe          2.0.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
matplotlib          3.4.3     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
matplotlib-inline   0.1.3     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
mistune             0.8.4     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
nbclassic           0.3.2     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
nbclient            0.5.4     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
nbconvert           6.2.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
nbformat            5.1.3     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
nest-asyncio        1.5.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
notebook            6.4.4     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
numpy               1.21.2    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
open3d              0.13.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
packaging           21.0      /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
pandas              1.3.3     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
pandocfilters       1.5.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
parso               0.8.2     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
pexpect             4.8.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
pickleshare         0.7.5     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
Pillow              8.3.2     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
pip                 20.0.2    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
pkg-resources       0.0.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
prometheus-client   0.11.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
prompt-toolkit      3.0.20    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
ptyprocess          0.7.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
pycparser           2.20      /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
Pygments            2.10.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
pyparsing           2.4.7     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
pyrsistent          0.18.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
python-dateutil     2.8.2     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
pytz                2021.1    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
PyYAML              5.4.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
pyzmq               22.3.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
requests            2.26.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
requests-unixsocket 0.2.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
scikit-learn        1.0       /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
scipy               1.7.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
Send2Trash          1.8.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
setuptools          44.0.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
six                 1.16.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
sniffio             1.2.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
terminado           0.12.1    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
testpath            0.5.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
threadpoolctl       2.2.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
tomlkit             0.7.2     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
tornado             6.1       /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
tqdm                4.62.3    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
traitlets           5.1.0     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
urllib3             1.26.7    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
wcwidth             0.2.5     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
webencodings        0.5.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
websocket-client    1.2.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
wheel               0.37.0    /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
widgetsnbextension  3.5.1     /home/abdel_dakri/work/Python/o3d_env/lib/python3.8/site-packages pip      
